<div class="each-question">
  <h3>{{question.authorQ}}<span class="question-author"> &nbsp; asked by <strong>{{question.author}}</strong></span></h3>
  <div class="edit-delete">
    <h5>
      {{update-question question=question update="update"}}
      <button class="delete pull-right" {{action 'delete' question}}>(delete)</button>
    </h5>
  </div>
  <br>
</div>
