<div class="each-question">
  <h3>{{question.authorQ}}<span class="question-author"> &nbsp; asked by <strong>{{question.author}}</strong></span></h3>
  {{update-question question=question update="update"}}
  <br>
</div>
