<h2>{{question.authorQ}} <span class="question-author">asked by {{question.author}}</span></h2>
<p>{{question.notes}}</p>
<hr>
<div>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</div>
