<div class="each-question well">
  <h3>{{#link-to 'question' question.id}}{{question.authorQ}}{{/link-to}}<span class="question-author"> &nbsp; asked by <strong>{{question.author}}</strong></span></h3>
  <h4>{{question.notes}}</h4>
</div>
