<header>
  <div class="nav row">
    <div class="col-md-4 col-md-offset-4">
      {{#link-to 'index'}}<h1 class="header-title">Message Board</h1>{{/link-to}}
    </div>
    <div class="col-md-4">
        <li class="nav-links">Admin</li>
        <li class="nav-links">About</li>
        <li class="nav-links">Contact</li>
    </div>
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
