<header>
  <div class="nav row">
    <div class="col-md-4">
        {{#link-to 'flag'}}<li class="nav-links"><i class="fa fa-flag" aria-hidden="true"></i></li>{{/link-to}}
    </div>
    <div class="title col-md-4">
      {{#link-to 'index'}}<h1 class="header-title">Message Board</h1>{{/link-to}}
    </div>
    <div class="col-md-4">
        {{#link-to 'admin'}}<li class="nav-links"><i class="fa fa-lg fa-cog" aria-hidden="true"></i></li>{{/link-to}}
    </div>
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
