<div class="question-page">
  {{question-detail question=model}}
</div>
<div class="all-answers">
  {{new-answer saveAnswer="saveAnswer" likeAnswer="likeAnswer" dislikeAnswer="dislikeAnswer" question=model}}
</div>
